#aboutMeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-right: 25%;
    margin-top: 10em;
}

#carouselExampleControls {
    margin-left: 3em;
}
 
.carousel-item {
    height: auto;
    overflow: hidden;
    width: 400px;
    }
    .carousel-item img {
    width: 400px;
    }  