footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5em;
    background-color: #CABFAE  
}

.footerLink {
    margin: 1em;
}

.rtt {
    margin-left: 18em;
}