.jumbotron {
    background: url('../Assets/Succulent_Photo.jpeg') center bottom;
    height: 100vh;
    background-size: cover;
}

/* Header h1 text */
.display-4 {
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
}

.lead{
    font-family: 'Inconsolata', serif;
}