:root {
    --dusty: #96858f;
    --lavender: #6D7993;
    --overcast: #9099A2;
    --paper: #D5D5D5;
    --clay: #CABFAE; 
}

/* GOOGLE FONTS:
        'Inconsolata', serif
        'Montserrat', sans-serif
*/